<div class="topbar">
	<h5>悦读</h5>
</div>
<div class="admin-aside-wrap">
	<div class="user-avatar">
		<a href="" id="avatar" class="avatar"></a>
		<span class="userinfo">welcome admin</span>
	</div>
	<form action="" class="searchForm">
		<div class="input-group">
			<input type="search" class="search-input" placeholder="search...">
			<button type="submit" class="search-btn">
				<span class="glyphicon glyphicon-search"></span>	
			</button>
		</div>
	</form>
	<ul class="aisde-list-group">
		<li class="actived-item">
			<a href="">
				<span class="glyphicon glyphicon-user"></span>
				<span>用户管理</span>
			</a>
		</li>
		<li>
			<a href="">
				<span class="glyphicon glyphicon-pencil"></span>
				<span>文章管理</span>
			</a>
		</li>
		<li>
			<a href="">
				<span class="glyphicon glyphicon-comment"></span>
				<span>评论管理</span>
			</a>
		</li>
		<li>
			<a href="">
				<span class="glyphicon glyphicon-tasks"></span>
				<span>图表分析</span>
			</a>
		</li>
		<li>
			<a href="">
				<span class="glyphicon glyphicon-tasks"></span>
				<span>图表分析</span>
			</a>
		</li>
		<li>
			<a href="">
				<span class="glyphicon glyphicon-tasks"></span>
				<span>图表分析</span>
			</a>
		</li>
	</ul>
</div>