<div class="topbar">
	<h4>悦读</h4>
	<div class="right-item">
		<span class="glyphicon glyphicon-th-list"></span>		
		<span class="glyphicon glyphicon-bell"></span>
		<span class="glyphicon glyphicon-envelope"></span>
	</div>
</div>
<div class="admin-aside-wrap">
	<div class="user-avatar">
		<a href="" id="avatar" class="avatar"></a>
		<span class="userinfo">welcome admin</span>
	</div>
	<form action="" class="searchForm">
		<div class="input-group">
			<input type="search" class="search-input" placeholder="search...">
			<button type="submit" class="search-btn">
				<span class="glyphicon glyphicon-search"></span>	
			</button>
		</div>
	</form>
	<ul class="aisde-list-group">
		<li>
			<a href="" class="first-item actived-item">
				<span class="glyphicon glyphicon-user"></span>
				<span>用户管理</span>
				<span class="glyphicon glyphicon-plus-sign"></span>
			</a>
			<ul>
				<li>
					<a href="">
						<span class="glyphicon glyphicon-minus-sign"></span>
						活跃用户
					</a>
				</li>
				<li>
					<a href="">
						<span class="glyphicon glyphicon-minus-sign"></span>
						用户列表
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="" class="first-item">
				<span class="glyphicon glyphicon-pencil"></span>
				<span>文章管理</span>
				<span class="glyphicon glyphicon-plus-sign"></span>
			</a>
			<ul>
				<li>
					<a href="">
						<span class="glyphicon glyphicon-minus-sign"></span>
						热门文章
					</a>
				</li>
				<li>
					<a href="">
						<span class="glyphicon glyphicon-minus-sign"></span>
						文章列表
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="" class="first-item">
				<span class="glyphicon glyphicon-comment"></span>
				<span>评论管理</span>
				<span class="glyphicon glyphicon-plus-sign"></span>
			</a>
			<ul>
				<li>
					<a href="">
						<span class="glyphicon glyphicon-minus-sign"></span>
						评论列表
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="" class="first-item">
				<span class="glyphicon glyphicon-tasks"></span>
				<span>图表分析</span>
				<span class="glyphicon glyphicon-plus-sign"></span>
			</a>
			<ul>
				<li>
					<a href="">
							<span class="glyphicon glyphicon-minus-sign"></span>
							走势图
					</a>
				</li>
				<li>
					<a href="">
						<span class="glyphicon glyphicon-minus-sign"></span>
						扇形图
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="">
				<span class="glyphicon glyphicon-tasks"></span>
				<span>图表分析</span>
			</a>
		</li>
		<li>
			<a href="">
				<span class="glyphicon glyphicon-tasks"></span>
				<span>图表分析</span>
			</a>
		</li>
	</ul>
</div>