<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="悦读官方网站">
	<meta name="keywords" content="悦读 文章分享平台">
	<title>{{title}}</title>
	<link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="libs/jquery/dist/jquery.min.js"></script>
	<script src="libs/velocity/velocity.min.js"></script>
	<script src="libs/velocity/velocity.ui.js"></script>
</head>
<body>
  {{{ body }}}
</body>
</html>