<div class="wrap-signin">	
	<div class="container signinbox">
		<div class="row">
			<div class="col-xl-12 col-md-12 col-sm-12">
				<h3 class="logo">悦读</h3>
				<div class="toggle">
					<a href="/signin">Sign in</a> 
					<i>or&nbsp</i> 
					<a href="/signup" class="current">Sign up</a>
				</div>
				<form action="" class="form-horizontal" role="form">
					<div class="form-group">
						<span class="glyphicon glyphicon-envelope icon-user"></span>
						<input type="text" placeholder="Username" class="username" maxlength="10">
					</div>
					<div class="form-group">
						<span class="glyphicon glyphicon-lock icon-lock"></span>
						<input type="password" placeholder="Password" class="passwd">
					</div>
					<div class="form-group">
						<span class="glyphicon glyphicon-lock icon-lock"></span>
						<input type="password" placeholder="Password" class="passwd">
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-default" id="login">Sign up</button>
					</div>
					<!-- <a class="forgotpw"><i>Forgot your password</i></a> -->
				</form>
			</div>
		</div>
	</div>
</div>
<script src="js/signin_up.js"></script>