/* line 1, ../sass/utils/extend.scss */
.flex, .topbar {
  display: box;
  /* OLD - Android 4.4- */
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
}

/* line 4, ../sass/admin.scss */
.admin-aside-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 190px;
  height: 100%;
  padding-top: 55px;
  background-color: #222d32;
}

/* line 14, ../sass/admin.scss */
.user-avatar {
  position: relative;
  width: 100%;
  padding-left: 1em;
}
/* line 18, ../sass/admin.scss */
.user-avatar a {
  position: relative;
  width: 48px;
  height: 48px;
  margin: auto;
  display: inline-block;
  border-radius: 48px;
  text-align: center;
  background: url("../images/avatar.jpg") top center no-repeat;
  background-size: cover;
}
/* line 29, ../sass/admin.scss */
.user-avatar .userinfo {
  position: absolute;
  top: 12px;
  left: 70px;
  display: inline-block;
  color: #fff;
}

/* line 37, ../sass/admin.scss */
.searchForm {
  width: 100%;
  padding-top: 1.1em;
  text-align: center;
}
/* line 42, ../sass/admin.scss */
.searchForm input[type='search']:focus,
.searchForm input[type='search']:focus + .search-btn {
  background-color: #fff;
}
/* line 47, ../sass/admin.scss */
.searchForm .input-group {
  width: 100%;
}
/* line 48, ../sass/admin.scss */
.searchForm .search-input {
  width: 75%;
  padding: 8px 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  border: 0px solid transparent;
  background-color: #666;
}
/* line 59, ../sass/admin.scss */
.searchForm .search-btn {
  height: 34px;
  border: 1px solid transparent;
  background-color: #666;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 67, ../sass/admin.scss */
.aisde-list-group {
  padding-top: 1em;
  width: 100%;
}
/* line 70, ../sass/admin.scss */
.aisde-list-group li, .aisde-list-group a {
  width: 100%;
}
/* line 73, ../sass/admin.scss */
.aisde-list-group a {
  display: inline-block;
  padding: 10px 5px;
  line-height: 1.5;
  text-indent: 8px;
  letter-spacing: 3px;
  color: #fff;
  transition: background-color .5s;
}
/* line 81, ../sass/admin.scss */
.aisde-list-group a:hover {
  border-left: 2px solid #eee;
  background-color: #1e282c;
}
/* line 86, ../sass/admin.scss */
.aisde-list-group .actived-item {
  border-left: 2px solid #eee;
  background-color: #1e282c;
}

/* line 91, ../sass/admin.scss */
.topbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  color: #FFF;
  background-color: #6495ed;
  z-index: 1;
}
/* line 105, ../sass/admin.scss */
.topbar .glyphicon-bell, .topbar .glyphicon-envelope, .topbar .glyphicon-th-list {
  position: absolute;
  top: 15px;
}
/* line 109, ../sass/admin.scss */
.topbar .glyphicon-th-list {
  right: 15px;
}
/* line 112, ../sass/admin.scss */
.topbar .glyphicon-envelope {
  right: 55px;
}
/* line 115, ../sass/admin.scss */
.topbar .glyphicon-bell {
  right: 85px;
}

/* line 119, ../sass/admin.scss */
.content {
  margin-left: 190px;
  padding-left: 15px;
  padding-top: 15px;
}
