/* line 1, ../sass/utils/default.scss */
body, div, aside, article, ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/utils/default.scss */
a, a:visited, a:hover {
  text-decoration: none;
}

/* line 8, ../sass/utils/default.scss */
ul, li {
  list-style-type: none;
}

/* line 3, ../sass/signin.scss */
html, body {
  width: 100%;
  height: 100%;
  font: normal normal normal 12px/1.5em "Microsoft YaHei";
}

/* line 8, ../sass/signin.scss */
a, a:visited {
  text-decoration: none;
  color: #ccc;
}

/* line 12, ../sass/signin.scss */
.wrap-signin {
  width: 100%;
  height: 100%;
  background: url("../images/bg.png") repeat;
}

/* line 18, ../sass/signin.scss */
.signinbox {
  text-align: center;
}
/* line 20, ../sass/signin.scss */
.signinbox .logo {
  color: #eee;
  margin-bottom: 1em;
}
/* line 24, ../sass/signin.scss */
.signinbox .toggle {
  color: #ccc;
  font-style: italic;
  padding-bottom: 1em;
}
/* line 29, ../sass/signin.scss */
.signinbox .current {
  color: #eee;
  font-style: normal;
}
/* line 33, ../sass/signin.scss */
.signinbox input {
  font-size: 1.2em;
  padding: 5px 2.3em 5px .2em;
  color: #eee;
  outline: none;
  border: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}
/* line 42, ../sass/signin.scss */
.signinbox button[type='submit'] {
  margin-top: 1.5em;
  padding-left: 5em;
  padding-right: 5em;
  text-align: center;
  color: #ccc;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 51, ../sass/signin.scss */
.signinbox .icon-user, .signinbox .icon-lock {
  display: inline-block;
  height: 100%;
  padding: .5em;
  color: #eee;
  font-size: 1.3em;
  margin-right: -5px;
  border-bottom: 1px solid #fff;
}
/* line 60, ../sass/signin.scss */
.signinbox #login {
  font-size: 1.4em;
  transition: all .5s ease-in;
}
/* line 63, ../sass/signin.scss */
.signinbox #login:hover {
  color: #eee;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 68, ../sass/signin.scss */
.signinbox .forgotpw {
  color: #ccc;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all .5s;
  text-decoration: none;
}
/* line 74, ../sass/signin.scss */
.signinbox .forgotpw:hover {
  color: #fff;
}

/* line 1, ../sass/utils/extend.scss */
.flex, .topbar {
  display: box;
  /* OLD - Android 4.4- */
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
}

/* line 4, ../sass/admin.scss */
.admin-aside-wrap {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 190px;
  height: 100%;
  padding-top: 55px;
  background-color: #222d32;
}

/* line 14, ../sass/admin.scss */
.user-avatar {
  position: relative;
  width: 100%;
  padding-left: 1em;
}
/* line 18, ../sass/admin.scss */
.user-avatar a {
  position: relative;
  width: 48px;
  height: 48px;
  margin: auto;
  display: inline-block;
  border-radius: 48px;
  text-align: center;
  background: url("../images/avatar.jpg") top center no-repeat;
  background-size: cover;
}
/* line 29, ../sass/admin.scss */
.user-avatar .userinfo {
  position: absolute;
  top: 12px;
  left: 70px;
  display: inline-block;
  color: #fff;
}

/* line 37, ../sass/admin.scss */
.searchForm {
  width: 100%;
  padding-top: 1.1em;
  text-align: center;
}
/* line 42, ../sass/admin.scss */
.searchForm input[type='search']:focus,
.searchForm input[type='search']:focus + .search-btn {
  background-color: #fff;
}
/* line 47, ../sass/admin.scss */
.searchForm .input-group {
  width: 100%;
}
/* line 48, ../sass/admin.scss */
.searchForm .search-input {
  width: 75%;
  padding: 8px 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  border: 0px solid transparent;
  background-color: #666;
}
/* line 59, ../sass/admin.scss */
.searchForm .search-btn {
  height: 34px;
  border: 1px solid transparent;
  background-color: #666;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 67, ../sass/admin.scss */
.aisde-list-group {
  padding-top: 1em;
  width: 100%;
}
/* line 70, ../sass/admin.scss */
.aisde-list-group li, .aisde-list-group a {
  width: 100%;
}
/* line 73, ../sass/admin.scss */
.aisde-list-group a {
  position: relative;
  display: inline-block;
  padding: 10px 5px;
  line-height: 1.5;
  text-indent: 8px;
  letter-spacing: 3px;
  color: #fff;
  border-left: 2px solid transparent;
  transition: all .5s;
}
/* line 84, ../sass/admin.scss */
.aisde-list-group a:hover {
  border-left-color: #6495ed;
  background-color: #1e282c;
}
/* line 88, ../sass/admin.scss */
.aisde-list-group a .glyphicon-plus-sign {
  position: absolute;
  top: 14px;
  right: 10px;
}
/* line 94, ../sass/admin.scss */
.aisde-list-group .second-items {
  background-color: #555;
  display: none;
}
/* line 97, ../sass/admin.scss */
.aisde-list-group .second-items a {
  color: #CCC;
  padding-left: 10px;
  transition: color .5s;
}
/* line 101, ../sass/admin.scss */
.aisde-list-group .second-items a:hover {
  color: #fff;
  border-left-color: transparent;
  background-color: #555;
}
/* line 108, ../sass/admin.scss */
.aisde-list-group .actived-item {
  border-left-color: #6495ed;
  background-color: #1e282c;
}

/* fix top banner */
/* line 114, ../sass/admin.scss */
.topbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  color: #FFF;
  background-color: #6495ed;
  z-index: 1;
}
/* line 128, ../sass/admin.scss */
.topbar .glyphicon-bell, .topbar .glyphicon-envelope, .topbar .glyphicon-th-list {
  position: absolute;
  top: 15px;
}
/* line 132, ../sass/admin.scss */
.topbar .glyphicon-th-list {
  right: 15px;
}
/* line 135, ../sass/admin.scss */
.topbar .glyphicon-envelope {
  right: 55px;
}
/* line 138, ../sass/admin.scss */
.topbar .glyphicon-bell {
  right: 85px;
}

/* line 142, ../sass/admin.scss */
.content {
  margin-left: 190px;
  padding-left: 15px;
  padding-top: 15px;
}
