/* line 3, ../sass/signin.scss */
html, body {
  width: 100%;
  height: 100%;
  font: normal normal normal 12px/1.5em "Microsoft YaHei";
}

/* line 8, ../sass/signin.scss */
a, a:visited {
  text-decoration: none;
  color: #ccc;
}

/* line 12, ../sass/signin.scss */
.wrap-signin {
  width: 100%;
  height: 100%;
  background: url("../images/bg.png") repeat;
}

/* line 18, ../sass/signin.scss */
.signinbox {
  text-align: center;
}
/* line 20, ../sass/signin.scss */
.signinbox .logo {
  color: #eee;
  margin-bottom: 1em;
}
/* line 24, ../sass/signin.scss */
.signinbox .toggle {
  color: #ccc;
  font-style: italic;
  padding-bottom: 1em;
}
/* line 29, ../sass/signin.scss */
.signinbox .current {
  color: #eee;
  font-style: normal;
}
/* line 33, ../sass/signin.scss */
.signinbox input {
  font-size: 1.2em;
  padding: 5px 2.3em 5px .2em;
  color: #eee;
  outline: none;
  border: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}
/* line 42, ../sass/signin.scss */
.signinbox button[type='submit'] {
  margin-top: 1.5em;
  padding-left: 5em;
  padding-right: 5em;
  text-align: center;
  color: #ccc;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 51, ../sass/signin.scss */
.signinbox .icon-user, .signinbox .icon-lock {
  display: inline-block;
  height: 100%;
  padding: .5em;
  color: #eee;
  font-size: 1.3em;
  margin-right: -5px;
  border-bottom: 1px solid #fff;
}
/* line 60, ../sass/signin.scss */
.signinbox #login {
  font-size: 1.4em;
  transition: all .5s ease-in;
}
/* line 63, ../sass/signin.scss */
.signinbox #login:hover {
  color: #eee;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 68, ../sass/signin.scss */
.signinbox .forgotpw {
  color: #ccc;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all .5s;
  text-decoration: none;
}
/* line 74, ../sass/signin.scss */
.signinbox .forgotpw:hover {
  color: #fff;
}
