// share variable name
$signin: 'signin';
$admin: 'admin';

// width
$admin-aside-width: 190px;
$avatar-width: 80px;
$avatar-height: 80px;
// color
$white: #fff;

$gray: #ccc;
$gray-white: #eee;

$black: #000;
$black-gray: #555;
$black-light: #333;
$black-lighter: #999;

$cornflowerblue: #6495ed;

// admin aside
$aside-black-lighter: #222d32;
$aside-iteem-hover: #1e282c;
$cyan: #3e6582;
// bg color


// bg images
$signin_bg: '../images/bg.png';


// height
$topHeight: 48px;

